html, body{
  height: 100%;
  margin: 0;
}

body{
  background-image: url("https://i.imgur.com/IyWsS9L.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
h1{
   font-size: 40px;
}
p{
    font-size:25px;
}
table{
  border-collapse: collapse;
}
table, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
th{
  background-color:#473C8B;
  color:#E8E8E8
}
td{
  background-color:#7EC0EE;
}
capition{
  font-size:20px;
}
ul{
  font-size: 20px;
}
